/**
 * ==========================================================================
 * Custom properties
 * ==========================================================================
 */

:root {
	--decoration-corner-0: 0.3125rem;
	--decoration-corner-plus-1: 0.4375rem;
	--decoration-corner-plus-2: 0.625rem;
}

@media (pointer: coarse) {
	:root {
		--decoration-corner-0: 0.4375rem;
		--decoration-corner-plus-1: 0.625rem;
		--decoration-corner-plus-1: 0.875rem;
	}
}
